@import "tailwindcss";

@theme{
   --font-nanum: "Nanum Pen Script", cursive
}

.hide-scrollbar {
  overflow-y: scroll;   /* or auto */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome / Safari */
}